:root {
  --head: rgb(242, 245, 250);
  --headFixed: rgb(233, 236, 252);
  --bg-color: rgb(255, 255, 255);
  --textcolor: rgb(0, 0, 147);
  --btnActive: #043691;
  --languageColor: rgb(1, 98, 255);
  --borderFrom: rgba(64, 64, 230, 0.574);
  --borderTo: rgba(0, 0, 255, 0.574);
  --popupMenu: rgba(182, 192, 237, 0.929);
  --popupText: #062a4d;
}

.darkmode {
  --head: rgba(80, 80, 80, 0.634);
  --headFixed: rgba(80, 80, 80, 0.779);
  --bg-color: rgb(0, 0, 0);
  --textcolor: white;
  --btnActive: rgb(226, 224, 224);
  --languageColor: rgb(70, 137, 245);
  --borderFrom: rgba(255, 255, 255, 0.905);
  --borderTo: rgba(158, 158, 158, 0.727);
  --popupMenu: rgba(56, 56, 56, 0.82);
  --popupText: #ffffff;
}

.dark-mode img:nth-child(1) {
  display: block;
}

.dark-mode img:nth-child(2) {
  display: none;
}

.darkmode .dark-mode img:nth-child(1) {
  display: none;
}

.darkmode .dark-mode img:nth-child(2) {
  display: block;
}

.hidden {
  display: none;
}

body {
  background: var(--bg-color);
}

.Background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: var(--head);
  padding: 15px 40px;
  border-bottom: 2px solid var(--textcolor);
  border-radius: 0 0 12px 12px;
}
.flexItem {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding-right: 20px;
}
.icon {
  width: 60px;
  height: 60px;
  position: relative;
  left: 15px;
}
.headText {
  display: flex;
  column-gap: 20px;
  color: var(--textcolor);
  position: relative;
  top: 2px;

  p {
    font-weight: 600;
  }
}
.containerNomer2 {
  display: none;

  .animation2 {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: border1 1s ease-in-out infinite;
    border-radius: 10px;

    .nomer2 {
      border: none;
      padding: 15px 20px;
      font-size: 18px;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        background-color: white;
      }
      a {
        text-decoration: none;
        background: inherit;
        font-weight: 700;
        background: transparent;
        color: var(--textcolor);
      }
    }
  }
}

.language {
  background: transparent;
  border: 1px solid var(--languageColor);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  color: var(--languageColor);
  &:active {
    background: rgb(187, 198, 255);
    border-radius: 3px;
  }
}
.dark-mode img {
  width: 35px;
  cursor: pointer;
  padding: 3px;
  &:active {
    padding: 3px;
    background: rgba(255, 255, 255, 0.394);
    border-radius: 50%;
  }
}
.menu {
  display: none;
  .btn {
    width: 55px;
    height: 40px;
    background-color: rgb(89, 104, 177) !important;
    padding-bottom: 2px !important;
  }
  .ant-btn svg {
    transform: scale(1.2);
  }
  .anticon {
    position: relative;
    top: -3px;
  }
}

.btn1 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-bottom: 5px;
}
.btn1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  background: var(--btnActive);
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.2s ease;
}
.btn1.active::after,
.btn1:hover:not(.active)::after {
  transform: scale(1);
  transform-origin: left;
}

.animation1 {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: border1 1s ease-in-out infinite;
  border-radius: 30px;
  .nomer1 {
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    &:hover {
      background-color: white;
    }
    a {
      text-decoration: none;
      background: inherit;
      font-weight: 700;
      background: transparent;
      color: var(--textcolor);
    }
  }
}
@keyframes border1 {
  from {
    border: 1px dashed var(--borderFrom);
  }
  to {
    border: 2px dashed var(--borderTo);
  }
}
.fixedColor {
  background-color: var(--headFixed);
}

@media only screen and (max-width: 1000px) {
  .containerNomer1 {
    display: none !important;
  }
  .menu {
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  .headText {
    display: none;
  }
  .containerNomer2 {
    display: block;
  }
}
@media only screen and (max-width: 700px) {
  .Background {
    padding: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .Background {
    padding: 10px 0px;
  }
}
@media only screen and (max-width: 550px) {
  .containerNomer2 {
    width: 180px !important;
  }
  .nomer2 {
    font-size: 15px !important;
    padding: 10px 0 !important;
  }
}
@media only screen and (max-width: 490px) {
  .Background {
    padding: 5px 0;
  }
  .containerNomer2 {
    display: none;
  }
}

/* 
.head {
  display: flex;
  background: var(--head);
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  position: fixed !important;
  width: 90%;
  padding: 10px 0;
  background-color: var(--headFixed);
}
.head.fixed {
  background-color: var(--headFixed);
}

.flexItem {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding-right: 20px;
}

}



.headText {
  display: flex;
  column-gap: 20px;
  color: var(--textcolor);

  p {
    font-weight: 600;
  }
}







.popup-menu {
  display: none;
}

 */
